<section class="contact-section" id="contact">
  <!--form introduction-->
  <div class="form-contact">
    <h2 class="form-title">Contact Me</h2>
    <p class="form-description">
      Lorem ipsum dolor sit amet consectetur. Neque pulvinar duis tristique nisl
      at. Arcu diam quis odio euismod aliquet aliquet aliquam vel fermentum.
    </p>
    <ul class="form-description-list">
      <li class="form-list-item">Lorem Ipsom</li>
      <li class="form-list-item">Lorem Ipsom</li>
      <li class="form-list-item">Lorem Ipsom</li>
    </ul>
  </div>

  <form class="contact-me" method="POST">
    <!--name field-->
    <div class="input-field">
      <label for="name" class="form-field-label">Full name</label>
      <input type="text" name="name" id="name" required />
    </div>

    <!--email field-->
    <div class="input-field">
      <label for="email" class="form-field-label">Email</label>
      <input type="email" name="email" id="email" required />
    </div>

    <!--message field-->
    <div class="input-field">
      <label for="message" class="form-field-label">Message</label>
      <textarea name="message" id="message" rows="5" required></textarea>
    </div>

    <button type="submit">Submit your enquiry</button>
  </form>
</section>
