<section class="hero-container" id="hero-container-full-bleed">
  <!--Hero Image Full Bleed -->
  <div class="hero-image-full-bleed">
    <img src={imageSrc} alt={imageAlt} class="hero-image-bleed" />
  </div>
  
  <div class="hero-text-full-bleed">
    <h1 class="hero-title-full-bleed">{title}</h1>
    <p class="hero-subtitle-full-bleed">{subtitle}</p>
  </div>
</section>