<section>
  <div class="work-status-container">
    <div class="work-status-content-wrapper">
      <h2 class="h3--secondary-white work-status-line"><strong>Current (professional) position:</strong> Head of Digital Experience, RSPCA</h2>
      <h2 class="h3--secondary-white work-status-line"><strong>Current (unprofessional) project:</strong> Centurion beer app</h2>
    </div>
  </div>
</section>

<style>
  .work-status-line {
    font-weight: 300;
  }

  .work-status-line strong {
    font-weight: 700;
  }

  .work-status-container {
    background-color: var(--color--primary-dark);
    width: 100%;
  }

  .work-status-content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    align-self: stretch;
    max-width: 1200px;
    margin: 0 auto;
    padding: 32px 54px;
  }
</style>